{erl_opts, [debug_info]}.
{deps, [
  {lager, "3.2.1"},
  {sync, {git, "https://github.com/rustyio/sync.git", {tag, "master"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
  {jsx, {git, "https://github.com/mhishami/jsx.git", {tag, "v2.8.0"}}},
  {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.1"}}}
]}.

{relx, [{release, { blitzapi, "0.1.1" }, [
    blitzapi,
    sasl,
    crypto
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
